* {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}

.picture {
    width: 40vw;
    background-image: url(./img/futuristic.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.info {
    width: 60vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.text {
    padding-left: 3vw;
}

.dummy {
    margin-bottom: 80px;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 700;
}